*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    position: relative;
}

h1, h2, h3, h4 {
    text-wrap: balance;
}

p {
    text-wrap: pretty;
}

.container{
    margin: auto;
    width: 1200px;
    display: flex;
    justify-content: center;
    gap: 50px;
}

.container__div{
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 20px;
}

.img-book-container{
    border: #000 solid 2px;
    height: 270px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-content: center;

}

.list-book{
    padding:20px;
    border: #000 solid 2px;
    width: 100%;
    height: 250px;
}

#listBook{
    list-style: none;
}

.info-book{
    padding: 20px;
    display: flex;
    gap: 15px;
    border: #000 solid 2px;
    width: 600px;
    height: 361px;
}

.img-info-container{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 5px;
    & img{
        padding: 5px;
        width: 114px;
        height: 146px;
    }
}

.btn-book-container{
    display: flex;
    padding: 10px 0;
    gap: 10px;
}

#imgBook{
    width: 30%;
    align-self: center;
}

.description-book-container{
    width: 427px;
    height: 317px;
}
#descriptionBook2{
    width: 100%;
    height: 70%;
    overflow: scroll;
}

.modalStyles{
    display: flex;
    position: absolute;
    flex-direction: column;
    padding: 15px;
    gap: 20px;
    width: 400px;
    height: 700px;
    margin: 20px auto;
}

.img-book-container3{
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: center;

    & img{
        align-self: center;
        width: 40%;
    }
}

#fileId3{
    padding: 20px 0;
}

#fondoModal{
    display: none;
    background-color: #00000046;
    position: relative;
    width: 100%;
    height: 100vh;
    margin: -675px 0;
}